.custom-button {
  padding: 0.5rem;
  border-radius: 6%;
  color: white;
  font-weight: bold;
  cursor: pointer;

  &.bg-blue {
    background-color: #3182ce;

    &:hover {
      background-color: #9ed0ff;
      color: black;
    }
  }

  &.bg-orange {
    background-color: #dc6b1f;
    &:hover {
      background-color: #fedcbb;
      color: black;
    }
  }
}
