.main-form-container {
  max-width: 50%;

  .disabled-phase {
    display: none;
  }

  .blank-value {
    color: grey;
  }

  input {
    &.correct {
      color: green;
    }

    &.error {
      border-bottom: solid #c61515;
    }
  }
}
